@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
  box-sizing: border-box;
  /* font-family: zalando sans expanded, sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

